## 3.1 Data Structures & Sequences

### Tuple

In [1]:
#Tuple
#fixed-length, immutable sequence of Python objects

tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
#for complicated expressions, enclose the values in parentheses

nested_tup= (4, 5, 6), (7,8)

nested_tup

((4, 5, 6), (7, 8))

In [3]:
#convert any sequence or iterator to a tuple by invoking <tuple>

tuple([4, 0, 2])

(4, 0, 2)

In [4]:
typ = tuple('string')
typ

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
#access elements by indexing

typ[0]

's'

In [6]:
typ[5]

'g'

In [7]:
tup = tuple(['foo', [1, 2], True])

tup[2]

True

In [8]:
tup[2] = False

#there is error because tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [9]:
#if object inside the tuple is mutable, e.g. list then can modify in-place

tup[1].append(3)

tup

('foo', [1, 2, 3], True)

In [10]:
#concatenate using <+> to produce longer tuple

(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [11]:
#Multiplying a tuple by an integer, as with lists, 
#has the effect of concatenating together

('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

### Unpacking tuples

In [12]:
# try to assign tuple-like expression of variables
# Python will unpack the value of right side

tup = (4, 5, 6)

a , b, c = tup

c

6

In [13]:
#even sequences with nested tuples can be unpacked

tup = 4, 5, (6, 7)

a, b, (c, d) = tup

d

7

In [14]:
# swap variable names
# a task which many languages might look like

tmp = a
a = b
b = tmp

# But in Python, the swap is done like this

a, b = 1, 2
a

1

In [15]:
b

2

In [16]:
b, a = a, b

In [17]:
a

2

In [18]:
b

1

In [19]:
# common use of variable unpacking is iterating over seq of tuples or lists

seq = [(1, 2, 3), (4, 5, 6), (7, 8,9)]

for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c) )

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [20]:
# pluck a few elements from beginning of tuple
# use syntax*rest used in function signatures

values = 1, 2, 3, 4, 5

a, b, *rest = values

a, b

(1, 2)

In [21]:
rest

[3, 4, 5]

In [ ]:
#rest bit is sometimes something you want to discard
#nothing special about the rest name

a, b, *_ = values

In [ ]:
#tuple methods

#size and contents of a tuple cannot be modified
#Immutables

#use .count() to find occurances of a value

a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

### List

lists are variable-length and their contents can be modified
in-place.
define them using square brackets [] or using the list type func‚Äê
tion

In [22]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')

b_list = list(tup) #convert tuple to list
b_list

['foo', 'bar', 'baz']

In [23]:
#replace index 1 with new string
#mutable
b_list[1] = 'peekaboo'

b_list

['foo', 'peekaboo', 'baz']

In [24]:
#list are mutable and tuplees are imutable
#list function is used in data processing to materialise an iterator

gen = range(10)
gen

range(0, 10)

In [25]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
#Adding and removing elements
b_list.append('dwarf')

b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [27]:
#insertion index must be between 0 & length of list
b_list.insert(1, 'red')

b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [29]:
#inverst of insert is pop
#removes and returns an element at a particula index

b_list.pop(2)

'peekaboo'

In [30]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [35]:
b_list.append('append')

b_list

['red', 'baz', 'dwarf', 'append']

In [34]:
b_list.remove('append')

b_list

['red', 'baz', 'dwarf']

In [36]:
#check if list contains a value

'dwarf' in b_list

True

In [37]:
# or check using not in
'dwarf' not in b_list

False

In [38]:
#Concatenating and combining lists

['4', None, 'foo'] + [7, 8, (2, 3)]

['4', None, 'foo', 7, 8, (2, 3)]

In [39]:
#if list already defined, can append multiple elements

x = [4, None, 'foo']

x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [40]:
#Sorting s list in-place by calling its sort function

a = [7, 2, 5, 1, 3]

a.sort()

a

[1, 2, 3, 5, 7]

In [41]:
#can sort by lenghts too

b = ['saw', 'small', 'He', 'foxes', 'six' ]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [42]:
#Binary search & maintaining a sorted list
# where an element should be inserted to keep it sorted
import bisect

c = [1, 2, 2, 2, 3, 4, 7]

bisect.bisect(c, 2)

4

In [46]:
bisect.bisect(c, 5)

6

In [47]:
bisect.bisect(c, 6)

6

In [48]:
c

[1, 2, 2, 2, 3, 4, 7]

In [49]:
#Slicing
#select sections of most sequence types by using slice notation
#consists of start:stop passed to the indexing operator []

seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [50]:
#slices can be assigned with sequence

seq[3:4] = [6,3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [51]:
seq[:5]

[7, 2, 3, 6, 3]

In [52]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [53]:
#negative indices slice the sequence

seq[-4:]

[5, 6, 0, 1]

In [54]:
seq[-6:-2]

[6, 3, 5, 6]

In [55]:
seq[::2]

[7, 3, 3, 6, 1]

In [56]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### Built-in Sequence Functions

handful of useful sequence functions that you should familiarize your‚Äê
self with and use at any opportunity

In [57]:
#emunerate
#when iterating over a sequence to want to keep track of the index of the current item

i = 0
for value in collection:
    #do something with value
    i + = 1

SyntaxError: invalid syntax (<ipython-input-57-17fd29fe12f1>, line 7)

In [58]:
#Python has built-in function enumerate 

some_list = ['foo', 'bar', 'baz']
mapping ={}

for i, v in enumerate(some_list):
    mapping[v] = i
    
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [59]:
#sorted

#returns a new sorted list from elements of any sequence
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [61]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [62]:
#zip 
#‚Äúpairs‚Äù up the elements of a number of lists, tuples, or other seq
# to create tuples

seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

zipped = zip(seq1, seq2)
zipped

In [63]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [64]:
seq3 = [False, True]

list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [65]:
#zip is simultaneously iterating over multiple sequences, possibly also combined with enumerate

for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a , b))

0: foo, one
1: bar, two
2: baz, three

In [66]:
#opposite of 'zipped' is 'zip'
# 'zip' help to unzip

pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

first_names, last_names = zip(*pitchers)

first_names

('Nolan', 'Roger', 'Schilling')

In [67]:
last_names

('Ryan', 'Clemens', 'Curt')

In [68]:
#reversed iterates the elements of sequence in reverse order

list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## Dict

flexibly sized collection of key-value pairs, where key and value are Python objects
creating one is to use curly braces {} and colons to separate keys and values

In [69]:
empty_dict = {}

d1 ={'a':'some value', 'b':[1, 2, 3, 4]}

d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [70]:
d1[7] = 'an integer'

d1

#add a key and value

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [71]:
d1['b']

[1, 2, 3, 4]

In [72]:
'b' in d1

True

In [73]:
#delete valyes using the del keyword or pop method

d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [74]:
d1['dummy'] = 'another value'

In [75]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [76]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [77]:
ret = d1.pop('dummy')

In [78]:
ret

'another value'

In [79]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [80]:
#keys and values method to give iterator of dict's keys and values

list(d1.keys())

['a', 'b', 7]

In [81]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [82]:
#merge one dict into another using update method

d1.update({'b':'foo', 'c':12})

d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [ ]:
#creating dicts from sequences that want to pair up element wise

mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [83]:
#dict is essentially a collection of 2-tuples

mapping = dict(zip(range(5), reversed(range(5))))

mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [ ]:
# default values

common to have logic like:

if key in some_dict:
    value = some_dict[key]
else:
    value = default_value
    
value = some_dict.get(key, default_value)

In [85]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
        
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [86]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter,[]).append(word)

In [87]:
## Valid dict key types

#values of a dict can be any Python object
# keys r immutable objects like scalar types (int, float, string) 
# or tuples (need to be immutable, too)

#hashability to check whether object is hashable and can be used as a dict

hash('string')

7468250154983021055

In [88]:
hash((1, 2, (2, 3)))

1097636502276347782

In [89]:
hash((1, 2, [2,3 ]))

TypeError: unhashable type: 'list'

In [90]:
#to use list as a key
#convert it to a tuple

d = {}

d[tuple([1, 2, 3])] = 5

d

{(1, 2, 3): 5}

In [91]:
#Set

#set is an unordered collection of unique elements
# keys only no values

set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [92]:
{1, 2, 2, 2, 1, 3}

{1, 2, 3}

In [93]:
#support mathematical set operations

a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}
    
#union of these two sets is the set of distinct elements occurring in either set  
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [94]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [95]:
#intersection contains the elements occurring in both sets

a.intersection(b)

{3, 4, 5}

In [96]:
a & b

{3, 4, 5}

In [97]:
#copy

c = a.copy()
c

{1, 2, 3, 4, 5}

In [98]:
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [99]:
d = a.copy()
d &= b

d

{3, 4, 5}

In [100]:
my_data = [1, 2, 3, 4]

my_set = {tuple(my_data)}

my_set

{(1, 2, 3, 4)}

In [101]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

In [103]:
a_set.issuperset({1, 2, 3})

True

In [104]:
#sets are equal of their contents are equal
{1, 2, 3} == {3, 2, 1}

True

In [105]:
### List, Set, and Dict Comprehensions

result = []
for val in collection:
    if condition:
        result.append(expr)

NameError: name 'collection' is not defined

In [106]:
strings =['a', 'as', 'bat', 'car', 'dove', 'python']

[x.upper() for x in strings if len(x)> 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [108]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [109]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [110]:
loc_mapping ={val: index for index, val in enumerate(strings)}

loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [ ]:
# Nested list comprhensions